.img-cover {
  width: 100%;
  background-size: cover !important;
}

.main-image {
  margin-bottom: 0;
  padding: 100px 0 200px;
  background: url('../images/main-image-1600.png') no-repeat center center;
}

@media screen and (max-width: 1199px) {
  .main-image {
    padding: 50px 0 !important;
    background: url('../images/main-image-1200.png') no-repeat center center;
  }
}

@media screen and (max-width: 767px) { 
  .main-image { 
    padding: 0 0 0 15px;
    background-image: none; 
    background-color: #fafafc; 
    text-align: center;
  } 
}